
.App {
  font-family: 'Jaldi', sans-serif;
  text-align: center;
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  color:#0079FF;
  background-color: #ffffff;
  border: 1px solid white;

}
