.full-container-form{
    border: 5px solid var(--background-color);
    padding: 1.25rem;
    border-radius: 20px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    color: var(--font-color);
}

h3{
    font-weight: 700;
    display: flex;
    margin: center;
    justify-content: center;
    padding-bottom: 1rem;
    color: var(--pink-button);   
    font-size:25px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 16.5rem;
    height: 2rem;
    gap: 1rem;
    margin-top: 1.5rem;
}

.box-line{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--pink-button);
    color: var(--pink-button);
}
  
.btn-primary {
    color:var(--bg-card);
    background: var(--green-button);
    width: 7rem; 
    height: 1.8rem;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 1rem 2rem; 
    font-size: 0.8rem;
   border-radius: 24px;
}
  
.btn-secondary {
    background-color: var(--pink-button);
    border: none;
    width: 7rem; 
    height: 1.8rem;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem; 
    font-size: 0.8rem;
    border-radius: 24px;
}

.columna1, .columna2{
    padding: 1.5rem;
    width: 58%;
    height: 23rem;
}

.form-create{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
}

.label-and-input-container{
    display: flex;
    flex-direction: column;
}
#fileInput {
    display: none;
  }

.blue-background{
    background-color:var(--background-color);
    border-radius: 0px 20px 20px 0px;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 40px;
    justify-content: center;
}

.form-create .form-label{
    margin: auto;
    margin-bottom: 0%;
}

.form-create .columna1 label, .form-create .columna2 label, .box-line{
    font-weight: 700;
}

.form-control-input{
 width: 100%;
 height: 40px;
 margin: auto;
 border: none;
 border-radius: 20px;
 box-shadow: var(--box-shadow);
 color: var(--font-color);
 background-color: var(--background-color);
}

.form-control-input::placeholder{
    color: var(--font-color);
}


.img_add{
    background-color: var(--font-color);
    height:25px;
    width: 33px;
    margin-left:10px;
    margin-top: 3px;
}


.custom-textarea{
    width: 100%;
    height: 17.5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 24px;
}

.custom-textarea::placeholder{
    color: var(--font-color);
}


.btn-primary:hover{
    background: var(--accept-hover); 
}
.btn-secondary:hover{
    background-color: var(--font-color);
}

.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-file .input-group .input-group-text {
    cursor: pointer;
    position: relative;
}

.input-group-text{
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 67px;
    background:var(--font-color);
    border-radius: 20px 0px 0px 20px;

}



@media (max-width: 768px) {
    .full-container-form {
        width: 90%;
        margin-bottom: 6rem;
        
    }
   
    .form-create {
        flex-direction: column; 
    }

    .columna1,
    .columna2 {
        width: 100%;
        height: 80%;
        padding: 1rem;
    }

}


