label[for="name"],
label[for="email"],
label[for="password"] {
  font-size: 0.9rem;
  font-weight: bold; 
  color: #0079FF;
  margin-bottom: -0.5rem;
  margin-left: 0.5rem;
}

.auth-form-container, .login-form, .register-form {
    font-family: 'Jaldi', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-bottom: 5rem;
    border-radius: 2rem;
    margin: 0.5rem 0 -10px;
    border: 4px solid var(--yellow-light, #FBFDCE);
  }
  
  .auth-form-container h2 {
    color: #FF0060; 
    margin-bottom: 9rem;
    font-size: 1.3rem; 
  }
  
  .divider {
    border: none;
    border-top: 1px solid #FF0060; 
    margin: 1rem auto;
    margin-top: -8rem;
    width: 95%;
  }
  
  .form-auth {
    background-color:#FBFDCE !important;
    border: 4px solid var(--yellow-light, #FBFDCE);
    border: 1px solid white !important; 
    box-shadow: var(--box-shadow) !important;
    border-radius: 1.25rem;
    width: 18rem;
    height: 1.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    height: 40px;
    
  }
  
  .form-auth::placeholder {
    color: #0079FF;
    font-weight:#0079FF ;
    padding: 0.5rem;
  }
  
  .container-btn {
    gap: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between; 
    gap: 0.5rem; 
    margin-top: 0.5rem;
  }
  
  .btn-primary {
    background-color: #00DFA2;
    color: white;
    width: 7rem; 
    height: 1.8rem;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 1rem 2rem; 
    font-size: 0.8rem;
    margin-left: 2rem;
  
  }
  
  .btn-secondary {
    background-color:  #FF0060;
    color: white;
    width: 7rem; 
    height: 1.8rem;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem; 
    font-size: 0.8rem;
    margin-right: 2.3rem;
    
  }
  
  .link-btn {
    background: none;
    color: #0079FF !important; 
    text-decoration: underline;
    margin-top: -5rem; 
    
  }
  
  
  .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
    }
  
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
  }
  .register-form{
    width: 370px;
    height: 560px;
  }
  
  @media (max-width: 480px) {
  
    label[for="name"] {
    margin-right: 12rem;
    }
  
    label[for="email"] {
    margin-right: 13rem;
    white-space: nowrap;
    }
  
    label[for="password"] {
      margin-right: 11rem;
    }
    
    .auth-form-container, .login-form, .register-form {
      width: 80%;
      margin: 0 auto; 
      align-items: center;
    }
  
    .form-auth {
      width: 100%; 
    }
  
    .auth-form-container {
      padding: 0.5rem;
    }
  
  }
  
  
  @media (max-width: 768px) {
     
      .auth-form-container, .login-form, .register-form {
        width: 70%;  
      }
  
      .form-auth {
        width: 100%; 
      }
  
    
  }
  