.container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; 
  }
  
  .profile {
    width: 200px; 
    margin-bottom: -80px; 
    border-radius: 100px;
  }
  .profileAvatar{
    width: 70px;
    margin-left: 140px;
    background-color: white;
    border-radius: 40px;
  }
  
  .create-icon {
    width: 80px; 
    height: 80px;
    z-index: 1; 
  }
  
  .info-perfil {
    color: #FF0060;
    text-align: center; 
    font-size: 18px;
  }

  .title-profile{
    font-size: 26px;
  }

  .info-perfil span{
    color: black;
  }

  @media (max-width: 768px) {
    .profile{
      width: 150px;
    }

    .profileAvatar{
      width: 50px;
      margin-top: 10px;
    }

    .info-perfil{
      font-size: 16px;
    }
  .container-card-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}